<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%=@person.firstname%> <%=@person.lastname%> has responded.</h1>
    <p>
      Attending: <strong><%= @person.attending %></strong></br>
      Bus: <strong><%= @person.bus %></strong></br>
      Other info: <strong><%= @person.otherinfo %></strong>
    </p>
  </body>
</html>
